@import "../../mixins";

.field {
  grid-row: 3 / 3;
  grid-column: 1 / 1;
  padding: 0.6rem;
  text-align: end;
  display: flex;
  flex-direction: column;

  p {
    margin: 1rem 0;
  }
}

@include screen-size(tablet) {
  .field {
    grid-row: 3 / 3;
    grid-column: 1 / span 2;
    text-align: start;
    width: 70%;
    margin: 0 auto;

    p {
      margin: 1rem 0;
    }
  }
}

@include screen-size(narrow-short-screen) {
  .field {
    width: 90%;
  }
}
