{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "plugins": ["@typescript-eslint", "prettier", "import"],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:import/typescript"
  ],
  "rules": {
    "no-console": 1, // Means warning
    "prettier/prettier": ["error", { "singleQuote": false }],
    "import/prefer-default-export": ["off"]
  }
}
