.container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  padding: 0.5rem;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 300px;
  border: 1px solid #606060;
  overflow-y: auto;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.message {
  margin-bottom: 0.5rem;
}

.userMessage {
  align-self: flex-end;
  background-color: #00537a;
  border-radius: 1rem;
  padding: 0.5rem;
}

.systemMessage,
.assistantMessage {
  background-color: #280005;
  border-radius: 1rem;
  padding: 0.5rem;
}

.form {
  display: flex;
  gap: 0.5rem;
  input {
    flex-grow: 1;
    border-radius: 1rem;
    padding: 0.2rem 1rem;
    
  }
  button {
    padding: 0.2rem 1rem;
    border-radius: 1rem;
  }
}
